/* All css configurations that every page of the website should have */


* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:flex;
    min-height: 100vh;
    flex-direction: column;
}

a {
    text-decoration: none;
}
