/* Footer element */
:root{
  --footer-background-color: #ddd;
}

.footer {
    position: relative;
    flex: 0;
    padding: 20px;
    background: var(--footer-background-color);
    margin-top: auto;
    /*This is so the footer stays at bottom of page*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
    z-index: 4;
  }

  .footer>div {
    text-align: left;
    line-height: 2;
  }

  .footer a {
    text-decoration: none;
    color: var(--basic-text-style);
  }

  .footer .fa-brands {
    color: var(--basic-text-style);
  }

  .break {
    flex-basis: 100%;
    height: 0;
    border-color: var(--basic-text-style);
    border-style: solid;
    border-width: thin;
  }

  