/* Footer element */
.footer {
    flex: 0;
    padding: 20px;
    background: #ddd;
    margin-top: auto;
    /*This is so the footer stays at bottom of page*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 1rem;
  }

  .footer>div {
    text-align: left;
    line-height: 2;
  }

  .footer a {
    text-decoration: none;
    color: black;
  }

  .footer .fa-brands {
    color: rgb(2, 2, 2);
  }

  .break {
    flex-basis: 100%;
    height: 0;
    border-color: black;
    border-style: solid;
    border-width: thin;
  }
