:root{
    --nav-sides-width:calc(50% - 150px);
    --height_nav_bar:80px;

    /* Color pallete */
    --nav-background-color: #3F37C9;
    --logo-background-color: #3A0CA3;
    --nav-hover-background-color: #B5179E;
    --drop-background-color: #f5e6f2;
    --drop-background-color-hover: #b555a5;
    --nav-text-color: #c5a5c9;
    --nav-hover-text-color: #fcedf4;
    --drop-text-color: #3A0CA3;
    --logo-text-color: #B5179E;
    --drop-border-color: #c295ba;

    --basic-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
}

* {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;

}

nav {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    font-size: 125%;
}

#nav-filler {
    height: var(--height_nav_bar);
}

#nav-main-bar {
    position: fixed;
    width:100%;
    height: var(--height_nav_bar);
    background-color: var(--nav-background-color);
    box-shadow: var(--basic-shadow);
}
/* Positioning of the navigation blocks right logo text middle left */
#nav-main-bar > div {
    box-sizing: border-box;
    float:left;
    height:var(--height_nav_bar);
    line-height: var(--height_nav_bar);
}

#left-nav{
    float:left;
    text-align: left;
    width: var(--nav-sides-width);
}

#middle-nav {
    background-color: var(--logo-background-color);
    width: 100px;
}

#home-button {
    position: relative;
    top:-10px;
    width:100px;
    height:100px;

}

#hidden-middle-nav {
    display:none;
    background-color: var(--logo-background-color);
    width: 100px;
}

.logo-text {
    width:100px;
    text-align: center;
    font-family: Roboto mono;
    background-color: var(--logo-background-color);
    font-size: 120%;
    color: var(--logo-text-color);
}

#right-nav {
    text-align: right;
    width: var(--nav-sides-width);
}

/* navigation bar content / buttons */

.flex-container-nav {
    display:flex;
    flex-wrap: nowrap;
    width:100%;
}

.flex-container-nav  > .nav-button {
    width: 140px;
    min-width:100px;
    color: var(--nav-text-color);
    text-align: center;
}

.flex-container-nav a {
    display:block;
    color: var(--nav-text-color);
    width: 100%;
    max-height: 100%;
    text-decoration: none;
    text-align: center;
}

.flex-container-nav  a:hover {
    background-color: var(--nav-hover-background-color);
    color:var(--nav-hover-text-color);
}


.flex-container-nav  .nav-button:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-text-color);
    box-shadow: var(--basic-shadow);
}

#search-input {
    visibility:hidden;
    width:0px;
    padding:4%;
    font-size: 80%;
    border: solid;
    border-color:var(--nav-text-color);
    border-radius:10% / 50%;
    transition: width 0.5s;
    margin-left: 1%;
}

#nav-search {
    min-width:50px;
    width:10%;
}

#night-mode-but {
    min-width: 50px;
    width:10%;
}
/* Everything with drop-down menu's */
#drop-down {
    min-width:50px;
    width:10%;
    display:none;
}

.drop-down-content {
    display:none;
    position:fixed; 
    z-index: 1; 
    top: var(--height_nav_bar);
    width:200px;
    box-shadow: var(--basic-shadow);
    
}

.drop-down-content > div {
    display:none;
    background-color: var(--drop-background-color);
    height: 40px;
    width:100%;
    border-style:solid;
    border-width:0px 2px 2px 0px;
    border-color: var(--drop-border-color);
    color: var(--drop-text-color);
}

.drop-down-content > div:hover {
    background-color: var(--drop-background-color-hover);
    border-width: 0px 0px 2px 0px;
}

.drop-down-content a {
    display:block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--drop-text-color);
}

#user-drop {
    right:0px;
    width:100px;
}

#user-drop > div {
    display:block;
    text-align: right;
    padding-right:5px;
    border-width:0px 0px 2px 2px;
}

#user-drop > div:hover {
    background-color: var(--drop-background-color-hover);
    border-width: 0px 0px 2px 0px;
}


/*.search-resize {} = Used when search bar is active, (some elements will 
become hidden because of the size of the search bar.) */


/* The events when the screen gets smaller */
@media screen and (max-width:1250px) {
    #drop-down.search-resize {
        display:block;
    }

    #nav-but-2.search-resize {
        display:none;
    }

    #drop-but-2.search-resize {
        display:block;
    }
}

@media screen and (max-width:1150px) {
    #nav-but-1.search-resize {
        display:none;
    }

    #drop-but-1.search-resize {
        display:block;
    }
}


/* The events when the screen gets smaller */
@media screen and (max-width:1100px) {
    #drop-down {
        display:block;
    }

    #nav-but-3 {
        display:none;
    }

    #drop-but-3 {
        display: block;
    }

}

@media screen and (max-width:950px) {
    #nav-but-2 {
        display:none;
    }

    #drop-but-2 {
        display: block;
    }
}

@media screen and (max-width:910px) {
    .logo-text.search-resize {
        display:none;
    }

    #middle-nav.search-resize {
        display:none;
    }

    #hidden-middle-nav.search-resize {
        display:block;
    }

    #left-nav.search-resize {
        width: calc(60% - 50px);
    }

    #right-nav.search-resize {
        width: calc(40% - 50px);
    }

    #user-drop.search-resize {
        right: 100px;
    }

}

@media screen and (max-width:800px) {
    #night-mode-but {
        display:none;
    }

    #drop-but-4 {
        display:block;
    }
}

@media screen and (max-width:750px) {
    .logo-text {
        display:none;
    }

    #middle-nav {
        display:none;
    }

    #hidden-middle-nav {
        display:block;
    }

    #left-nav {
        width: calc(60% - 50px);
    }

    #right-nav {
        width: calc(40% - 50px);
    }

    #user-drop {
        right: 100px;
    }
}

@media screen and (max-width: 600px) {
    #right-nav.search-resize {
        display:none;
    }
    #left-nav.search-resize {
        width: calc(100% - 100px);
    }

    #left-drop.search-resize {
        width:100%;
    }

    #drop-but-5.search-resize {
        display: block;
    }

    #drop-but-6.search-resize {
        display: block;
    }
}

@media screen and (max-width: 525px) {
    #right-nav {
        display:none;
    }
    #left-nav {
        width: calc(100% - 100px);
    }
    #left-drop {
        width:100%;
    }

    #drop-but-5 {
        display: block;
    }

    #drop-but-6 {
        display: block;
    }
}
